COMPOSE_PROJECT_NAME=bookshop_dev
NGINX_PORT=8081
APP_IMAGE=zeinadweikk/book-shop:your-tag

SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,18.185.112.209

POSTGRES_DB=bookshop_db
POSTGRES_USER=bookshop_user
POSTGRES_PASSWORD=your-postgres-password-here
POSTGRES_HOST=db
POSTGRES_PORT=5432
